<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Social_Publisher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Social_Publisher.Properties.Settings>
            <setting name="access_token" serializeAs="String">
                <value>empty</value>
            </setting>
            <setting name="pageID" serializeAs="String">
                <value>empty</value>
            </setting>
            <setting name="appID" serializeAs="String">
                <value>empty</value>
            </setting>
        </Social_Publisher.Properties.Settings>
    </userSettings>
</configuration>